@model Find_Your_Petrol1.Models.FromLocationToDestination

@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="row">

    <div class="jumbotron">
        <h1 style="margin:auto;">Барајте Бензинска Станица!</h1>
    </div>

</div>

@using (Html.BeginForm("FromLocationToDestination", "Home", FormMethod.Post))
{


    <div class="row" style="margin-top:140px;">

        <div class="col-md-5">
            <h4>Вашата сегашна локација е: </h4> <p id="demo" style="visibility: hidden;color:red;">Геолокацијата не е поддржана од вашиот пребарувач!</p> <h4 id="latitude" style="visibility:hidden;"></h4><h4 id="longitude" style="visibility:hidden;"></h4>
            <div id="googleMap"></div>
            @Html.HiddenFor(m => m.usersLatitude, new { id = "userLat" })
            @Html.HiddenFor(m => m.usersLongitude, new { id = "userLon" })
        </div>
        <div class="col-md-3">

            <h4>Изберете на кој начин ќе ја барате вашата бензинска: </h4>
            @Html.DropDownListFor(m => m.traffic_model, new List<SelectListItem> {
                new SelectListItem{Text = "Најбрз начин", Value = "bestguess", Selected=true},
                new SelectListItem{Text = "Песимистички начин", Value = "pessimistic"},
                new SelectListItem{Text = "Оптимистички начин", Value = "optimistic"}
             }, "Изберете едно", new { @class = "form-control" })

        </div>

        <div class="col-md-3">

            <h4>Изберете бензинска пумпа:</h4>

            <select name="@Html.NameFor(model => model.stationsLatitude)"
                    class="form-control"
                    id="stations"
                    onchange="newStationSelected()">
                <option value="" value-lon="" id="closestPetrol">Најблиска бензинска пумпа</option>
                @foreach (var station in ViewBag.PetrolStationNames)
                {

                    <option value="@station.GeografskaShirochina"
                            value-lon="@station.Dolzhina">
                        @station.ImeNaBenzinska
                    </option>

                }
            </select>
            @Html.HiddenFor(m => m.stationsLongitude, new { id = "stationLon" })

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Пребарај" class="btn btn-default" />
            </div>
        </div>

    </div>

    <script>


        var x = document.getElementById("demo");
        if (document.readyState) {
            getLocation();
        }
        function getLocation() {
            if (navigator.geolocation) {

                latitude.innerHTML = navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                x.style.visibility = "visible";
                console.log("Your browser does not allow geolocation!");
            }
        }
        function showPosition(position) {
            var latitude = document.getElementById("latitude");
            var longitude = document.getElementById("longitude");
            const lat = position.coords.latitude;
            const long = position.coords.longitude;
            latitude.setAttribute("userLatitude", position.coords.latitude);
            longitude.setAttribute("userLongitude", position.coords.longitude);

            var map = "https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDV8iZjs4VSoni6WADbP0xd43UaBJ4RBJ0&center=" + position.coords.latitude + "," + position.coords.longitude +
                "&zoom=14&size=400x300&sensor=false&markers=color:red%7Clabel:S%7C" + position.coords.latitude + "," + position.coords.longitude;
            document.getElementById("googleMap").innerHTML = "<img src='" + map + "'/>";

            document.getElementById("userLat").value = "" + lat + "";
            document.getElementById("userLon").value = "" + long + "";

            findClosestPetrol(lat, long);
            newStationSelected();
        }


        function findClosestPetrol(lat, lon) {
            var petrolStations = @Html.Raw(Json.Encode(ViewBag.PetrolStationNames));
            var closestLat = 0;
            var closestLon = 0;
            var minDistance = 0;

            for (var i = 0; i < petrolStations.length; i++) {
                var distance = calculateDistance(lat, lon, petrolStations[i].GeografskaShirochina, petrolStations[i].Dolzhina);
                if (i == 0) {
                    minDistance = distance;
                    closestLat = petrolStations[i].GeografskaShirochina;
                    closestLon = petrolStations[i].Dolzhina;
                    continue;
                }
                if (distance < minDistance) {
                    minDistance = distance;
                    closestLat = petrolStations[i].GeografskaShirochina;
                    closestLon = petrolStations[i].Dolzhina;
                }
            }

            var findOption = document.getElementById("closestPetrol");
            findOption.value = closestLat;
            findOption.setAttribute("value-lon", closestLon);

        }

        function calculateDistance(userLat, userLon, petrolLat, petrolLon) {
            // Ke presmetam evklidovo rastojanie pomegju segasnata pozicija na korisnikot i dadenata benzinska stanica!
            return Math.sqrt(Math.pow((userLat - petrolLat), 2) + Math.pow((userLon - petrolLon), 2));

        }

        function showError(error) {
            console.log(error);
        }

        function newStationSelected() {

            var e = document.getElementById("stations");
            var option = e.options[e.selectedIndex];
            document.getElementById("stationLon").value = option.getAttribute("value-lon");

        }

    </script>

}
