@model Find_Your_Petrol1.Models.PetrolStation

@{
    ViewBag.Title = "Избриши бензинска";
}

<h2>Избриши Бензинска Пумпа од листата</h2>

<h3>Дали сте сигутни дека сакате да ја избришете?</h3>
<div>
    <h4>Бензинска Пумпа</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImeNaBenzinska)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeNaBenzinska)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RabotnoVreme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RabotnoVreme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dolzhina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dolzhina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeografskaShirochina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeografskaShirochina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocena)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
