@model Find_Your_Petrol1.Models.FromLocationToDestination

@{
    ViewBag.Title = "Map";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="row" style="margin-top:140px;">
    <div class="col-md-6">
        <div class="row">
            <div id="googleMap" style="height:400px;width:100%;"></div>
            <script>
                function initMap() {
                    const directionsService = new google.maps.DirectionsService();
                    const directionsRenderer = new google.maps.DirectionsRenderer();
                    const map = new google.maps.Map(document.getElementById("googleMap"), {
                        zoom: 7,
                        center: { lat: 41.04, lng: 21.34 },
                    });
                    directionsRenderer.setMap(map);

                    calculateAndDisplayRoute(directionsService, directionsRenderer);
                }

                function calculateAndDisplayRoute(directionsService, directionsRenderer) {

                    console.log();

                    directionsService.route(
                        {
                            origin: {
                                query: "" + @Model.usersLatitude + "," + @Model.usersLongitude + "",
                            },
                            destination: {
                                query: "" + @Model.stationsLatitude+"," + @Model.stationsLongitude +"",
                            },
                            drivingOptions: {
                                departureTime: new Date(Date.now()),
                                trafficModel: '@Model.traffic_model'
                            },
                            travelMode: google.maps.TravelMode.DRIVING,
                        },
                        (response, status) => {
                            if (status === "OK") {
                                directionsRenderer.setDirections(response);
                            } else {
                                window.alert("Directions request failed due to " + status);
                            }
                        }
                    );
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV8iZjs4VSoni6WADbP0xd43UaBJ4RBJ0&callback=initMap"></script>

        </div>
        <div class="row">
            <h4>Спореди оддалеченост на две бензински:</h4>
            <div class="row">
                <div class="col-md-2" style="margin-right: 50px;">
                    <input type="text" name="benzinska1" value="" placeholder="Бензинска бр.1" class="form-control" style="width:130px;" />
                </div>
                <div class="col-md-2">
                    <input type="text" name="benzinska2" value="" placeholder="Бензинска бр.2" class="form-control" style="width:130px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Оддалеченост:</h3>
                </div>
                <div class="col-md-1" style="margin-top:17px;">
                    <h5 id="oddalecenost">0km</h5>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-5">
        <div class="row">
            <h3>Име на бензинска: </h3> <p id="ime_benzinska">Макпетрол</p>
        </div>
        <div class="row">
            <h3>Локација: </h3> <p id="lokacija_benzinska">41.123 32.233</p>
        </div>
        <div class="row">
            <h3>Типови на гориво: </h3> <p id="tip_gorivo">Супер98, Супер100, Дизел</p>
        </div>
        <div class="row">
            <h3>Проценета оддалеченост: </h3> <p id="oddalecenost_od_benzinska">1km</p>
        </div>
        <div class="row">
            <h3>Работно време: </h3> <p id="rabotno_vreme_benzinska">24,7</p>
        </div>
        <div class="row">
            <h3>Контакт: </h3> <p id="kontakt_benzinska">071 332 445</p>
        </div>
        <div class="row">
            <div>
                <h3>Оцена и коментари: </h3>
            </div>

            <div>
                <img src="~/Pictures/1_PvoG2ZWSd5Z-a3k2jdM55A.png" alt="Оцена" width="184" height="53" /> <br /><br />
                <input type="text" name="vashiot_komentar" value="" placeholder="Внесете ваш коментар" />
            </div>

        </div>
    </div>
</div>
