@model Find_Your_Petrol1.Models.FromLocationToDestination

@{
    ViewBag.Title = "Map";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="row center-block" style="margin-top:140px;">
    <div class="col-md-6">
        <div class="row">
            <div id="googleMap" style="height:400px;width:100%;"></div>
            <script>
                function initMap() {
                    const directionsService = new google.maps.DirectionsService();
                    const directionsRenderer = new google.maps.DirectionsRenderer();
                    const map = new google.maps.Map(document.getElementById("googleMap"), {
                        zoom: 7,
                        center: { lat: 41.04, lng: 21.34 },
                    });
                    directionsRenderer.setMap(map);

                    calculateAndDisplayRoute(directionsService, directionsRenderer);
                }

                function calculateAndDisplayRoute(directionsService, directionsRenderer) {

                    console.log();

                    directionsService.route(
                        {
                            origin: {
                                query: "" + @Model.usersLatitude + "," + @Model.usersLongitude + "",
                            },
                            destination: {
                                query: "" + @Model.stationsLatitude+"," + @Model.stationsLongitude +"",
                            },
                            drivingOptions: {
                                departureTime: new Date(Date.now()),
                                trafficModel: '@Model.traffic_model'
                            },
                            travelMode: google.maps.TravelMode.DRIVING,
                        },
                        (response, status) => {
                            if (status === "OK") {
                                directionsRenderer.setDirections(response);
                            } else {
                                window.alert("Directions request failed due to " + status);
                            }
                        }
                    );
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV8iZjs4VSoni6WADbP0xd43UaBJ4RBJ0&callback=initMap"></script>

        </div>

    </div>
</div>
